body{
    background-color: black;
    color: aqua;
}



.container{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #050816;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card{
    width: 320px;
    height: 500px;

    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(0,255,255,0.3);

    border-radius: 20px;

    padding: 30px;

    backdrop-filter: blur(10px);

    box-shadow:
    0 0 15px aqua,
    0 0 30px rgba(0,255,255,0.3);

    transition: 0.4s;
}


li{
    list-style: none;

}


button{
   color: aqua;
   background-color: black;
   border-radius: 30px;
display: block;
margin: auto;
margin-top: 90px;
}

div#mensagem{
    text-align: center;
    font-size: larger;
}

button:hover{
    color: aquamarine;
    background-color: rgba(0,255,255,0.1);
}